.container{
    display: flex;   
    justify-content: center;

}
.img{
    width: 100px;
    display: flex;    
}

.d_forms{
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.loading {
  display: none;
  width: 20px;
  text-align: center;
  margin-top: 25px;
  
}

@media (max-width: 600px){
    .container{
        display: block;      
    }   
    
}